# Server Port
PORT=4000
NODE_ENV=production

# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=node_mysql_api

# JWT Configuration
JWT_SECRET=SUPER_SECRET_KEY_REPLACE_ME_IN_PRODUCTION

# Mailer Configuration (SMTP)
EMAIL_FROM=info@my-node-api.com
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=mlnrgldvbrgdwysl@ethereal.email
SMTP_PASS=mAnueJXMc3HnrMRYns

# CORS & Cookie Configurations
CORS_ORIGIN=http://localhost:4200
COOKIE_SECURE=true
COOKIE_SAMESITE=lax

